# Chapter 2: Essential DataFrame Operations

In [10]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', 4, 'display.max_rows', 10, 'display.max_colwidth', 12)

In [11]:
path = 'C:/Users/jkoni/Documents/Python Scripts/Git Repositories/Pandas-Cookbook-Second-Edition/'

## Introduction

## Selecting Multiple DataFrame Columns

### How to do it\...

In [12]:
movies = pd.read_csv(f'{path}data/movie.csv')
movie_actor_director = movies[['actor_1_name', 'actor_2_name',
    'actor_3_name', 'director_name']]
movie_actor_director.head()

  actor_1_name actor_2_name actor_3_name director_name
0  CCH Pounder  Joel Dav...    Wes Studi  James Ca...
1  Johnny Depp  Orlando ...  Jack Dav...  Gore Ver...
2  Christop...  Rory Kin...  Stephani...   Sam Mendes
3    Tom Hardy  Christia...  Joseph G...  Christop...
4  Doug Walker   Rob Walker          NaN  Doug Walker

In [13]:
type(movies[['director_name']])

pandas.core.frame.DataFrame

In [14]:
type(movies['director_name'])

pandas.core.series.Series

In [15]:
type(movies.loc[:, ['director_name']])

pandas.core.frame.DataFrame

In [16]:
type(movies.loc[:, 'director_name'])

pandas.core.series.Series

### How it works\...

### There\'s more\...

In [17]:
cols = ['actor_1_name', 'actor_2_name',
        'actor_3_name', 'director_name']
movie_actor_director = movies[cols]

In [19]:
movies[['actor_1_name', 'actor_2_name',
      'actor_3_name', 'director_name']]

     actor_1_name actor_2_name actor_3_name director_name
0     CCH Pounder  Joel Dav...    Wes Studi  James Ca...
1     Johnny Depp  Orlando ...  Jack Dav...  Gore Ver...
2     Christop...  Rory Kin...  Stephani...   Sam Mendes
3       Tom Hardy  Christia...  Joseph G...  Christop...
4     Doug Walker   Rob Walker          NaN  Doug Walker
...           ...          ...          ...          ...
4911  Eric Mabius  Daphne Z...  Crystal ...  Scott Smith
4912  Natalie Zea  Valorie ...  Sam Unde...          NaN
4913  Eva Boehnke  Maxwell ...  David Ch...  Benjamin...
4914    Alan Ruck  Daniel H...  Eliza Coupe  Daniel Hsia
4915  John August  Brian He...     Jon Gunn     Jon Gunn

[4916 rows x 4 columns]

## Selecting Columns with Methods

### How it works\...

In [24]:
movies = pd.read_csv(f'{path}data/movie.csv')
def shorten(col):
    return (col.replace('facebook_likes', 'fb')
               .replace('_for_reviews', '')
    )
movies = movies.rename(columns=shorten)
movies.dtypes.value_counts()

float64    13
object     12
int64       3
dtype: int64

In [25]:
movies.select_dtypes(include='int').head()

   num_voted_users  cast_total_fb  movie_fb
0       886204             4834       33000
1       471220            48350           0
2       275868            11700       85000
3      1144337           106759      164000
4            8              143           0

In [28]:
movies.select_dtypes(include='number').head()

   num_critic  duration  ...  aspect_ratio  movie_fb
0       723.0     178.0  ...         1.78      33000
1       302.0     169.0  ...         2.35          0
2       602.0     148.0  ...         2.35      85000
3       813.0     164.0  ...         2.35     164000
4         NaN       NaN  ...          NaN          0

[5 rows x 16 columns]

In [29]:
movies.select_dtypes(include=['int', 'object']).head()

   color director_name  ... content_rating movie_fb
0  Color  James Ca...   ...        PG-13      33000
1  Color  Gore Ver...   ...        PG-13          0
2  Color   Sam Mendes   ...        PG-13      85000
3  Color  Christop...   ...        PG-13     164000
4    NaN  Doug Walker   ...          NaN          0

[5 rows x 15 columns]

In [30]:
movies.select_dtypes(exclude='float').head()

   color director_name  ... content_rating movie_fb
0  Color  James Ca...   ...        PG-13      33000
1  Color  Gore Ver...   ...        PG-13          0
2  Color   Sam Mendes   ...        PG-13      85000
3  Color  Christop...   ...        PG-13     164000
4    NaN  Doug Walker   ...          NaN          0

[5 rows x 15 columns]

In [33]:
movies.filter(like='fb').head()

   director_fb  actor_3_fb  ...  actor_2_fb  movie_fb
0          0.0       855.0  ...       936.0     33000
1        563.0      1000.0  ...      5000.0         0
2          0.0       161.0  ...       393.0     85000
3      22000.0     23000.0  ...     23000.0    164000
4        131.0         NaN  ...        12.0         0

[5 rows x 6 columns]

In [36]:
movies.filter(items=['actor_3_fb'])

      actor_3_fb
0          855.0
1         1000.0
2          161.0
3        23000.0
4            NaN
...          ...
4911       318.0
4912       319.0
4913         0.0
4914       489.0
4915        16.0

[4916 rows x 1 columns]

In [37]:
cols = ['actor_1_name', 'actor_2_name',
        'actor_3_name', 'director_name']
movies.filter(items=cols).head()

  actor_1_name actor_2_name actor_3_name director_name
0  CCH Pounder  Joel Dav...    Wes Studi  James Ca...
1  Johnny Depp  Orlando ...  Jack Dav...  Gore Ver...
2  Christop...  Rory Kin...  Stephani...   Sam Mendes
3    Tom Hardy  Christia...  Joseph G...  Christop...
4  Doug Walker   Rob Walker          NaN  Doug Walker

In [38]:
movies.filter(regex=r'\d').head()

   actor_3_fb actor_2_name  ...  actor_3_name actor_2_fb
0       855.0  Joel Dav...  ...    Wes Studi       936.0
1      1000.0  Orlando ...  ...  Jack Dav...      5000.0
2       161.0  Rory Kin...  ...  Stephani...       393.0
3     23000.0  Christia...  ...  Joseph G...     23000.0
4         NaN   Rob Walker  ...          NaN        12.0

[5 rows x 6 columns]

### How it works\...

### There\'s more\...

### See also

## Ordering Column Names

### How to do it\...

In [39]:
movies = pd.read_csv(f'{path}data/movie.csv')
def shorten(col):
    return (col.replace('facebook_likes', 'fb')
               .replace('_for_reviews', '')
    )
movies = movies.rename(columns=shorten)

In [40]:
movies.columns

Index(['color', 'director_name', 'num_critic', 'duration', 'director_fb',
       'actor_3_fb', 'actor_2_name', 'actor_1_fb', 'gross', 'genres',
       'actor_1_name', 'movie_title', 'num_voted_users', 'cast_total_fb',
       'actor_3_name', 'facenumber_in_poster', 'plot_keywords',
       'movie_imdb_link', 'num_user', 'language', 'country', 'content_rating',
       'budget', 'title_year', 'actor_2_fb', 'imdb_score', 'aspect_ratio',
       'movie_fb'],
      dtype='object')

In [41]:
cat_core = ['movie_title', 'title_year',
            'content_rating', 'genres']
cat_people = ['director_name', 'actor_1_name',
              'actor_2_name', 'actor_3_name']
cat_other = ['color', 'country', 'language',
             'plot_keywords', 'movie_imdb_link']
cont_fb = ['director_fb', 'actor_1_fb',
           'actor_2_fb', 'actor_3_fb',
           'cast_total_fb', 'movie_fb']
cont_finance = ['budget', 'gross']
cont_num_reviews = ['num_voted_users', 'num_user',
                    'num_critic']
cont_other = ['imdb_score', 'duration',
               'aspect_ratio', 'facenumber_in_poster']

In [47]:
new_col_order = cat_core + cat_people + \
                cat_other + cont_fb + \
                cont_finance + cont_num_reviews + \
                cont_other
set(movies.columns) == set(new_col_order)

True

In [48]:
movies[new_col_order].head()

   movie_title  title_year  ... aspect_ratio facenumber_in_poster
0       Avatar      2009.0  ...         1.78          0.0
1  Pirates ...      2007.0  ...         2.35          0.0
2      Spectre      2015.0  ...         2.35          1.0
3  The Dark...      2012.0  ...         2.35          0.0
4  Star War...         NaN  ...          NaN          0.0

[5 rows x 28 columns]

### How it works\...

### There\'s more\...

### See also

## Summarizing a DataFrame

### How to do it\...

In [49]:
movies = pd.read_csv(f'{path}data/movie.csv')
movies.shape

(4916, 28)

In [50]:
movies.size

137648

In [52]:
movies.ndim

2

In [53]:
len(movies)

4916

In [54]:
movies.count()

color                      4897
director_name              4814
num_critic_for_reviews     4867
duration                   4901
director_facebook_likes    4814
                           ...
title_year                 4810
actor_2_facebook_likes     4903
imdb_score                 4916
aspect_ratio               4590
movie_facebook_likes       4916
Length: 28, dtype: int64

In [55]:
movies.min()

C:\Users\jkoni\AppData\Local\Temp\ipykernel_22752\593434307.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  movies.min()

num_critic_for_reviews        1.0
duration                      7.0
director_facebook_likes       0.0
actor_3_facebook_likes        0.0
actor_1_facebook_likes        0.0
                            ...
title_year                 1916.0
actor_2_facebook_likes        0.0
imdb_score                    1.6
aspect_ratio                 1.18
movie_facebook_likes            0
Length: 19, dtype: object

In [65]:
pd.reset_option('display.max_columns')

movies.describe().T

,count,mean,std,min,25%,50%,75%,max
num_critic_for_reviews,4867.0,137.988905,120.239379,1.00,49.00,108.00,191.00,813.0
duration,4901.0,107.090798,25.286015,7.00,93.00,103.00,118.00,511.0
director_facebook_likes,4814.0,691.014541,2832.954125,0.00,7.00,48.00,189.75,23000.0
actor_3_facebook_likes,4893.0,631.276313,1625.874802,0.00,132.00,366.00,633.00,23000.0
actor_1_facebook_likes,4909.0,6494.488491,15106.98...,0.00,607.00,982.00,11000.00,640000.0
...,...,...,...,...,...,...,...,...
title_year,4810.0,2002.447609,12.453977,1916.00,1999.00,2005.00,2011.00,2016.0
actor_2_facebook_likes,4903.0,1621.923516,4011.299523,0.00,277.00,593.00,912.00,137000.0
imdb_score,4916.0,6.437429,1.127802,1.60,5.80,6.60,7.20,9.5
aspect_ratio,4590.0,2.222349,1.402940,1.18,1.85,2.35,2.35,16.0
movie_facebook_likes,4916.0,7348.294142,19206.01...,0.00,0.00,159.00,2000.00,349000.0

In [66]:
movies.describe(percentiles=[.01, .3, .99]).T

,count,mean,std,min,1%,30%,50%,99%,max
num_critic_for_reviews,4867.0,137.988905,120.239379,1.00,2.00,60.00,108.00,546.68,813.0
duration,4901.0,107.090798,25.286015,7.00,43.00,95.00,103.00,189.00,511.0
director_facebook_likes,4814.0,691.014541,2832.954125,0.00,0.00,11.00,48.00,16000.00,23000.0
actor_3_facebook_likes,4893.0,631.276313,1625.874802,0.00,0.00,176.00,366.00,11000.00,23000.0
actor_1_facebook_likes,4909.0,6494.488491,15106.98...,0.00,6.08,694.00,982.00,44920.00,640000.0
...,...,...,...,...,...,...,...,...,...
title_year,4810.0,2002.447609,12.453977,1916.00,1951.00,2000.00,2005.00,2016.00,2016.0
actor_2_facebook_likes,4903.0,1621.923516,4011.299523,0.00,0.00,345.00,593.00,17000.00,137000.0
imdb_score,4916.0,6.437429,1.127802,1.60,3.10,6.00,6.60,8.50,9.5
aspect_ratio,4590.0,2.222349,1.402940,1.18,1.33,1.85,2.35,4.00,16.0
movie_facebook_likes,4916.0,7348.294142,19206.01...,0.00,0.00,0.00,159.00,93850.00,349000.0

### How it works\...

### There\'s more\...

In [67]:
movies.min(skipna=False)

C:\Users\jkoni\AppData\Local\Temp\ipykernel_22752\1750496438.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  movies.min(skipna=False)

num_critic_for_reviews     NaN
duration                   NaN
director_facebook_likes    NaN
actor_3_facebook_likes     NaN
actor_1_facebook_likes     NaN
                          ...
title_year                 NaN
actor_2_facebook_likes     NaN
imdb_score                 1.6
aspect_ratio               NaN
movie_facebook_likes         0
Length: 19, dtype: object

## Chaining DataFrame Methods

### How to do it\...

In [68]:
movies = pd.read_csv(f'{path}data/movie.csv')
def shorten(col):
    return (col.replace('facebook_likes', 'fb')
               .replace('_for_reviews', '')
    )
movies = movies.rename(columns=shorten)
movies.isnull().head()

,color,director_name,num_critic,duration,director_fb,actor_3_fb,actor_2_name,actor_1_fb,gross,genres,...,num_user,language,country,content_rating,budget,title_year,actor_2_fb,imdb_score,aspect_ratio,movie_fb
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,True,False,True,True,False,True,False,False,True,False,...,True,True,True,True,True,True,False,False,True,False

In [69]:
(movies
   .isnull()
   .sum()
   .head()
)

color             19
director_name    102
num_critic        49
duration          15
director_fb      102
dtype: int64

In [77]:
movies.isnull().sum().sum()

2654

In [79]:
movies.isnull().any().any()

True

### How it works\...

In [76]:
movies.isnull().dtypes.value_counts()

bool    28
dtype: int64

### There\'s more\...

In [80]:
movies[['color', 'movie_title', 'color']].max()

C:\Users\jkoni\AppData\Local\Temp\ipykernel_22752\817170488.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  movies[['color', 'movie_title', 'color']].max()

movie_title    Æon Flux
dtype: object

In [81]:
with pd.option_context('max_colwidth', 20):
    movies.select_dtypes(['object']).fillna('').max()

In [82]:
with pd.option_context('max_colwidth', 20):
    (movies
        .select_dtypes(['object'])
        .fillna('')
        .max()
    )

### See also

## DataFrame Operations

C:/Users/jkoni/Documents/Python Scripts/Git Repositories/Pandas-Cookbook-Second-Edition/data/college.csv

In [87]:
colleges = pd.read_csv(f'{path}data/college.csv')
colleges + 5

TypeError: can only concatenate str (not "int") to str

In [88]:
colleges = pd.read_csv(f'{path}data/college.csv', index_col='INSTNM')
college_ugds = colleges.filter(like='UGDS_')
college_ugds.head()

,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN
INSTNM,,,,,,,,,
Alabama A & M University,0.0333,0.9353,0.0055,0.0019,0.0024,0.0019,0.0000,0.0059,0.0138
University of Alabama at Birmingham,0.5922,0.2600,0.0283,0.0518,0.0022,0.0007,0.0368,0.0179,0.0100
Amridge University,0.2990,0.4192,0.0069,0.0034,0.0000,0.0000,0.0000,0.0000,0.2715
University of Alabama in Huntsville,0.6988,0.1255,0.0382,0.0376,0.0143,0.0002,0.0172,0.0332,0.0350
Alabama State University,0.0158,0.9208,0.0121,0.0019,0.0010,0.0006,0.0098,0.0243,0.0137

In [89]:
name = 'Northwest-Shoals Community College'
college_ugds.loc[name]

UGDS_WHITE    0.7912
UGDS_BLACK    0.1250
UGDS_HISP     0.0339
UGDS_ASIAN    0.0036
UGDS_AIAN     0.0088
UGDS_NHPI     0.0006
UGDS_2MOR     0.0012
UGDS_NRA      0.0033
UGDS_UNKN     0.0324
Name: Northwest-Shoals Community College, dtype: float64

In [90]:
college_ugds.loc[name].round(2)

UGDS_WHITE    0.79
UGDS_BLACK    0.12
UGDS_HISP     0.03
UGDS_ASIAN    0.00
UGDS_AIAN     0.01
UGDS_NHPI     0.00
UGDS_2MOR     0.00
UGDS_NRA      0.00
UGDS_UNKN     0.03
Name: Northwest-Shoals Community College, dtype: float64

In [91]:
(college_ugds.loc[name] + .0001).round(2)

UGDS_WHITE    0.79
UGDS_BLACK    0.13
UGDS_HISP     0.03
UGDS_ASIAN    0.00
UGDS_AIAN     0.01
UGDS_NHPI     0.00
UGDS_2MOR     0.00
UGDS_NRA      0.00
UGDS_UNKN     0.03
Name: Northwest-Shoals Community College, dtype: float64

In [92]:
college_ugds + .00501

,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN
INSTNM,,,,,,,,,
Alabama A & M University,0.03831,0.94031,0.01051,0.00691,0.00741,0.00691,0.00501,0.01091,0.01881
University of Alabama at Birmingham,0.59721,0.26501,0.03331,0.05681,0.00721,0.00571,0.04181,0.02291,0.01501
Amridge University,0.30401,0.42421,0.01191,0.00841,0.00501,0.00501,0.00501,0.00501,0.27651
University of Alabama in Huntsville,0.70381,0.13051,0.04321,0.04261,0.01931,0.00521,0.02221,0.03821,0.04001
Alabama State University,0.02081,0.92581,0.01711,0.00691,0.00601,0.00561,0.01481,0.02931,0.01871
...,...,...,...,...,...,...,...,...,...
SAE Institute of Technology San Francisco,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Rasmussen College - Overland Park,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
National Personal Training Institute of Cleveland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Bay Area Medical Academy - San Jose Satellite Location,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Excel Learning Center-San Antonio South,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [93]:
(college_ugds + .00501) // .01

,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN
INSTNM,,,,,,,,,
Alabama A & M University,3.0,94.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0
University of Alabama at Birmingham,59.0,26.0,3.0,5.0,0.0,0.0,4.0,2.0,1.0
Amridge University,30.0,42.0,1.0,0.0,0.0,0.0,0.0,0.0,27.0
University of Alabama in Huntsville,70.0,13.0,4.0,4.0,1.0,0.0,2.0,3.0,4.0
Alabama State University,2.0,92.0,1.0,0.0,0.0,0.0,1.0,2.0,1.0
...,...,...,...,...,...,...,...,...,...
SAE Institute of Technology San Francisco,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Rasmussen College - Overland Park,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
National Personal Training Institute of Cleveland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Bay Area Medical Academy - San Jose Satellite Location,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Excel Learning Center-San Antonio South,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
college_ugds_op_round = (college_ugds + .00501) // .01 / 100
college_ugds_op_round.head()

In [ ]:
college_ugds_round = (college_ugds + .00001).round(2)
college_ugds_round

In [ ]:
college_ugds_op_round.equals(college_ugds_round)

### How it works\...

In [ ]:
.045 + .005

### There\'s more\...

In [ ]:
college2 = (college_ugds
    .add(.00501) 
    .floordiv(.01) 
    .div(100)
)
college2.equals(college_ugds_op_round)

### See also

## Comparing Missing Values

In [94]:
np.nan == np.nan

False

In [95]:
None == None

True

In [96]:
np.nan > 5

False

In [97]:
5 > np.nan

False

In [98]:
np.nan != 5

True

### Getting ready

In [99]:
college = pd.read_csv(f'{path}data/college.csv', index_col='INSTNM')
college_ugds = college.filter(like='UGDS_')

In [100]:
college_ugds == .0019

,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN
INSTNM,,,,,,,,,
Alabama A & M University,False,False,False,True,False,True,False,False,False
University of Alabama at Birmingham,False,False,False,False,False,False,False,False,False
Amridge University,False,False,False,False,False,False,False,False,False
University of Alabama in Huntsville,False,False,False,False,False,False,False,False,False
Alabama State University,False,False,False,True,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...
SAE Institute of Technology San Francisco,False,False,False,False,False,False,False,False,False
Rasmussen College - Overland Park,False,False,False,False,False,False,False,False,False
National Personal Training Institute of Cleveland,False,False,False,False,False,False,False,False,False
Bay Area Medical Academy - San Jose Satellite Location,False,False,False,False,False,False,False,False,False
Excel Learning Center-San Antonio South,False,False,False,False,False,False,False,False,False

In [101]:
college_self_compare = college_ugds == college_ugds
college_self_compare.head()

,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN
INSTNM,,,,,,,,,
Alabama A & M University,True,True,True,True,True,True,True,True,True
University of Alabama at Birmingham,True,True,True,True,True,True,True,True,True
Amridge University,True,True,True,True,True,True,True,True,True
University of Alabama in Huntsville,True,True,True,True,True,True,True,True,True
Alabama State University,True,True,True,True,True,True,True,True,True

In [102]:
college_self_compare.all()

UGDS_WHITE    False
UGDS_BLACK    False
UGDS_HISP     False
UGDS_ASIAN    False
UGDS_AIAN     False
UGDS_NHPI     False
UGDS_2MOR     False
UGDS_NRA      False
UGDS_UNKN     False
dtype: bool

In [103]:
(college_ugds == np.nan).sum()

UGDS_WHITE    0
UGDS_BLACK    0
UGDS_HISP     0
UGDS_ASIAN    0
UGDS_AIAN     0
UGDS_NHPI     0
UGDS_2MOR     0
UGDS_NRA      0
UGDS_UNKN     0
dtype: int64

In [106]:
college_ugds.isnull().sum()

UGDS_WHITE    661
UGDS_BLACK    661
UGDS_HISP     661
UGDS_ASIAN    661
UGDS_AIAN     661
UGDS_NHPI     661
UGDS_2MOR     661
UGDS_NRA      661
UGDS_UNKN     661
dtype: int64

In [107]:
college_ugds.equals(college_ugds)

True

### How it works\...

### There\'s more\...

In [108]:
college_ugds.eq(.0019)    # same as college_ugds == .0019

,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN
INSTNM,,,,,,,,,
Alabama A & M University,False,False,False,True,False,True,False,False,False
University of Alabama at Birmingham,False,False,False,False,False,False,False,False,False
Amridge University,False,False,False,False,False,False,False,False,False
University of Alabama in Huntsville,False,False,False,False,False,False,False,False,False
Alabama State University,False,False,False,True,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...
SAE Institute of Technology San Francisco,False,False,False,False,False,False,False,False,False
Rasmussen College - Overland Park,False,False,False,False,False,False,False,False,False
National Personal Training Institute of Cleveland,False,False,False,False,False,False,False,False,False
Bay Area Medical Academy - San Jose Satellite Location,False,False,False,False,False,False,False,False,False
Excel Learning Center-San Antonio South,False,False,False,False,False,False,False,False,False

In [111]:
from pandas.testing import assert_frame_equal
assert_frame_equal(college_ugds, college_ugds) is None

True

## Transposing the direction of a DataFrame operation

### How to do it\...

In [112]:
college = pd.read_csv(f'{path}data/college.csv', index_col='INSTNM')
college_ugds = college.filter(like='UGDS_')
college_ugds.head()

,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN
INSTNM,,,,,,,,,
Alabama A & M University,0.0333,0.9353,0.0055,0.0019,0.0024,0.0019,0.0000,0.0059,0.0138
University of Alabama at Birmingham,0.5922,0.2600,0.0283,0.0518,0.0022,0.0007,0.0368,0.0179,0.0100
Amridge University,0.2990,0.4192,0.0069,0.0034,0.0000,0.0000,0.0000,0.0000,0.2715
University of Alabama in Huntsville,0.6988,0.1255,0.0382,0.0376,0.0143,0.0002,0.0172,0.0332,0.0350
Alabama State University,0.0158,0.9208,0.0121,0.0019,0.0010,0.0006,0.0098,0.0243,0.0137

In [113]:
college_ugds.count()

UGDS_WHITE    6874
UGDS_BLACK    6874
UGDS_HISP     6874
UGDS_ASIAN    6874
UGDS_AIAN     6874
UGDS_NHPI     6874
UGDS_2MOR     6874
UGDS_NRA      6874
UGDS_UNKN     6874
dtype: int64

In [114]:
college_ugds.count(axis='columns').head()

INSTNM
Alabama A & M University               9
University of Alabama at Birmingham    9
Amridge University                     9
University of Alabama in Huntsville    9
Alabama State University               9
dtype: int64

In [115]:
college_ugds.sum(axis='columns').head()

INSTNM
Alabama A & M University               1.0000
University of Alabama at Birmingham    0.9999
Amridge University                     1.0000
University of Alabama in Huntsville    1.0000
Alabama State University               1.0000
dtype: float64

In [116]:
college_ugds.median(axis='index')

UGDS_WHITE    0.55570
UGDS_BLACK    0.10005
UGDS_HISP     0.07140
UGDS_ASIAN    0.01290
UGDS_AIAN     0.00260
UGDS_NHPI     0.00000
UGDS_2MOR     0.01750
UGDS_NRA      0.00000
UGDS_UNKN     0.01430
dtype: float64

### How it works\...

### There\'s more\...

In [117]:
college_ugds_cumsum = college_ugds.cumsum(axis=1)
college_ugds_cumsum.head()

,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN
INSTNM,,,,,,,,,
Alabama A & M University,0.0333,0.9686,0.9741,0.9760,0.9784,0.9803,0.9803,0.9862,1.0000
University of Alabama at Birmingham,0.5922,0.8522,0.8805,0.9323,0.9345,0.9352,0.9720,0.9899,0.9999
Amridge University,0.2990,0.7182,0.7251,0.7285,0.7285,0.7285,0.7285,0.7285,1.0000
University of Alabama in Huntsville,0.6988,0.8243,0.8625,0.9001,0.9144,0.9146,0.9318,0.9650,1.0000
Alabama State University,0.0158,0.9366,0.9487,0.9506,0.9516,0.9522,0.9620,0.9863,1.0000

### See also

## Determining college campus diversity

In [118]:
pd.read_csv(f'{path}data/college_diversity.csv', index_col='School')

              Diversity Index
School
Rutgers U...         0.76
Andrews U...         0.74
Stanford ...         0.74
Universit...         0.74
Universit...         0.74
Universit...         0.74
San Franc...         0.73
Universit...         0.73
New Jerse...         0.72
Texas Wom...         0.72

### How to do it\...

In [119]:
college = pd.read_csv(f'{path}data/college.csv', index_col='INSTNM')
college_ugds = college.filter(like='UGDS_')

In [120]:
(college_ugds.isnull()
   .sum(axis='columns')
   .sort_values(ascending=False)
   .head()
)

INSTNM
Excel Learning Center-San Antonio South              9
Western State College of Law at Argosy University    9
Albany Law School                                    9
Albany Medical College                               9
A T Still University of Health Sciences              9
dtype: int64

In [121]:
college_ugds = college_ugds.dropna(how='all')
college_ugds.isnull().sum()

UGDS_WHITE    0
UGDS_BLACK    0
UGDS_HISP     0
UGDS_ASIAN    0
UGDS_AIAN     0
UGDS_NHPI     0
UGDS_2MOR     0
UGDS_NRA      0
UGDS_UNKN     0
dtype: int64

In [122]:
college_ugds.ge(.15)

,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN
INSTNM,,,,,,,,,
Alabama A & M University,False,True,False,False,False,False,False,False,False
University of Alabama at Birmingham,True,True,False,False,False,False,False,False,False
Amridge University,True,True,False,False,False,False,False,False,True
University of Alabama in Huntsville,True,False,False,False,False,False,False,False,False
Alabama State University,False,True,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...
Hollywood Institute of Beauty Careers-West Palm Beach,True,True,True,False,False,False,False,False,False
Hollywood Institute of Beauty Careers-Casselberry,False,True,True,False,False,False,False,False,False
Coachella Valley Beauty College-Beaumont,True,False,True,False,False,False,False,False,False
Dewey University-Mayaguez,False,False,True,False,False,False,False,False,False
Coastal Pines Technical College,True,True,False,False,False,False,False,False,False

In [123]:
diversity_metric = college_ugds.ge(.15).sum(axis='columns')
diversity_metric.head()

INSTNM
Alabama A & M University               1
University of Alabama at Birmingham    2
Amridge University                     3
University of Alabama in Huntsville    1
Alabama State University               1
dtype: int64

In [124]:
diversity_metric.value_counts()

1    3042
2    2884
3     876
4      63
0       7
5       2
dtype: int64

In [125]:
diversity_metric.sort_values(ascending=False).head()

INSTNM
Central Texas Beauty College-Temple                               5
Regency Beauty Institute-Austin                                   5
Westwood College-O'Hare Airport                                   4
Regency Beauty Institute-Pasadena                                 4
Soma Institute-The National School of Clinical Massage Therapy    4
dtype: int64

In [126]:
college_ugds.loc[['Regency Beauty Institute-Austin',
                   'Central Texas Beauty College-Temple']]

,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN
INSTNM,,,,,,,,,
Regency Beauty Institute-Austin,0.1867,0.2133,0.1600,0.0000,0.0,0.0,0.1733,0.0,0.2667
Central Texas Beauty College-Temple,0.1616,0.2323,0.2626,0.0202,0.0,0.0,0.1717,0.0,0.1515

In [128]:
us_news_top = ['Rutgers University-Newark',
                  'Andrews University',
                  'Stanford University',
                  'University of Houston',
                  'University of Nevada-Las Vegas']
diversity_metric.loc[us_news_top]

INSTNM
Rutgers University-Newark         4
Andrews University                3
Stanford University               3
University of Houston             3
University of Nevada-Las Vegas    3
dtype: int64

### How it works\...

### There\'s more\...

In [129]:
(college_ugds
   .max(axis=1)
   .sort_values(ascending=False)
   .head(10)
)

INSTNM
Caribbean University-Ponce                                        1.0
Brighton Institute of Cosmetology                                 1.0
Mesivta Torah Vodaath Rabbinical Seminary                         1.0
Rabbinical College Telshe                                         1.0
University of Puerto Rico-Mayaguez                                1.0
Haskell Indian Nations University                                 1.0
Lake Career and Technical Center                                  1.0
Leon Studio One School of Hair Design & Career Training Center    1.0
Dewey University-Hato Rey                                         1.0
Columbia Central University-Caguas                                1.0
dtype: float64

In [130]:
(college_ugds > .01).all(axis=1).any()

True

### See also